<div class="container px-5 py-6 mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="./img/Badge-Spring.webp" class="h-32 sm:mr-10 mb-4 sm:mb-0" alt="Logo Oracle Next Education"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Java y Spring Boot</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Alura Latam + Oracle.</p>
            <p class="leading-relaxed text-base">
                El curso cubrió lambdas y streams en Java, desarrollo con Spring Framework y Spring Data JPA, creación y conexión de APIs al Front End, uso de Spring Boot para documentar, probar y proteger APIs Rest, aplicando buenas prácticas y preparación para implementación.
            </p>
            <a href="https://app.aluracursos.com/degree/certificate/a003c0e6-5f9a-4a2c-b3db-ee5ab955f28f?lang" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center hover:bg-white/10 rounded-full px-3 py-1 transition">Ver Certificado</a>
        </div>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Estadisticas y Machine Learning</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Alura Latam + Oracle.</p>
            <p class="leading-relaxed text-base">
                El curso abarcó estadística y probabilidad con Python, regresión lineal básica y avanzada, clasificación y validación de modelos, IA aumentada para previsión, y análisis de evasión de clientes en telecomunicaciones mediante técnicas de Machine Learning.
            </p>
            <a href="https://app.aluracursos.com/degree/certificate/98bc8c1e-ae28-4591-bfbd-bab190192527?lang" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center hover:bg-white/10 rounded-full px-3 py-1 transition">Ver Certificado</a>
        </div>
        <img src="./img/Badge-ML.webp" class="h-32 sm:ml-10 mb-4 sm:mb-0" alt="Logo Oracle Next Education"/>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="https://images.credly.com/size/680x680/images/978f88dc-c247-4093-9d39-6efac3651297/image.png" class=" h-32 sm:mr-10 mb-4 sm:mb-0" alt="Logo Cisco Networking Academy"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Carrera Profesional de Técnico en Redes</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Cisco Networking Academy.</p>
            <p class="leading-relaxed text-base">
                El curso cubre fundamentos de redes, comunicación entre dispositivos, cableado, direccionamiento, servicios de red, configuración básica de equipos Cisco y resolución de problemas para soporte de usuarios y endpoints.
            </p>
            <a href="https://www.credly.com/badges/938dfe76-6230-403b-b1e2-e8f487d8deea" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center hover:bg-white/10 rounded-full px-3 py-1 transition">Ver Certificado</a>
        </div>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-justify text-center mt-6 sm:mt-0 ">
            <h2 class="text-white text-2xl mb-2 font-bold">Introducción a la Ciberseguridad</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Cisco Networking Academy.</p>
            <p class="leading-relaxed text-base">
                El curso introduce conceptos esenciales de ciberseguridad, amenazas y vulnerabilidades, defensa básica y oportunidades profesionales en el área, proporcionando una visión general sobre la importancia de proteger la información en el entorno digital actual.
            </p>
            <a href="https://www.credly.com/badges/b605d82b-9b0c-484f-9c08-726712811a1a" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center hover:bg-white/10 rounded-full px-3 py-1 transition">Ver Certificado</a>
        </div>
        <img src="https://images.credly.com/size/680x680/images/af8c6b4e-fc31-47c4-8dcb-eb7a2065dc5b/I2CS__1_.png" class=" h-32 sm:ml-10 mb-4 sm:mb-0 sm:float-right" alt="Cisco Networking Academy"/>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="https://images.credly.com/size/680x680/images/82b908e1-fdcd-4785-9d32-97f11ccbcf08/image.png" class=" h-32 sm:mr-10 mb-4 sm:mb-0" alt="Logo Desafio Latam"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Fundamentos de la Inteligencia Artificial</h2>
            <p class="text-xl mb-2 font-semibold">IBM SkillsBuild.</p>
            <p class="leading-relaxed text-base">
                El curso aborda conceptos clave de inteligencia artificial, como aprendizaje automático, procesamiento de lenguaje natural, visión artificial, redes neuronales y ética, junto con sus principales aplicaciones en la industria actual.
            </p>
            <a href="https://www.credly.com/badges/43ccf993-ac56-4dac-bb53-c79c32810af1" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center hover:bg-white/10 rounded-full px-3 py-1 transition">Ver Certificado</a>
        </div>
    </div>
</div>
