<header class="flex justify-center items-center mx-auto py-5 top-0 fixed w-full bg-black opacity-85 z-[1000] shadow-2xs">

    <nav class="flex flex-wrap justify-center items-center px-3 text-sm font-medium rounded-full">
        <a class="hover:bg-white/10 rounded-full px-3 py-1 transition text-base md:text-sm" href="#top">Inicio</a>
        <a class="hover:bg-white/10 rounded-full px-3 py-1 transition text-base md:text-sm" href="#tecnologias">Tecnologías</a>
        <a class="hover:bg-white/10 rounded-full px-3 py-1 transition text-base md:text-sm" href="#proyectos">Proyectos</a>
        <a class="hover:bg-white/10 rounded-full px-3 py-1 transition text-base md:text-sm" href="#certificados">Certificados</a>
        <a class="hover:bg-white/10 rounded-full px-3 py-1 transition text-base md:text-sm" href="#sobre_mi">Sobre mí</a>
    </nav>
</header>
