<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
<div class="[&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold text-pretty">
    <p>
        Mi nombre es Elias Celis, y soy de Rancagua, Chile. Estudie <strong>Tecnico de Nivel Superior de Analista Programador Computacional</strong> en IP CHILE (Instituto Profesional de Chile).
    </p>
    
    <p>
        Poseo más de 20 años de experiencia en el sector industrial, especializado en mecanizado de precisión y programación CNC. 
    </p>
    
    <p>
        En 2023, tomé la decisión de reinventar mi carrera profesional y enfocarme en el desarrollo de software. 
    </p>

    <p class="text-pretty">
        Todos los días continúo mejorando mis habilidades, participando en proyectos y haciendo cursos que me permitan <strong>aprender y crecer</strong> como <strong>desarrollador</strong>. 
    </p>
</div>
<img src="./img/photo.webp" alt="yo" class="rounded-full size-64">
</section>